/** CSS for Bootsrap Portfolio **/

.footer,
.push {
  height: 70px;
}

h5 {
  color: white;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  left: 0px;
}

/* .card-img {
  position: relative;
} */

a {
  /* z-index: 1; */
  position: relative;
  /* z-index: 1; */
}

/* .card-img {
  z-index: 0;
} */

.card-title {
  position: absolute;
  z-index: 10;
}